
.tx-kesearch-pi1 {
    background: #fcfcfc;
    border: 1px solid black;
    padding: 5px;
}

/* Clearer */
.tx-kesearch-pi1 .clearer {
    display: block;
    height: 1px;
    line-height: 1px;
    clear: both;
}

/* Results */
.tx-kesearch-pi1 #kesearch_results {
    margin:0 10px 0 10px;
}

.tx-kesearch-pi1 #kesearch_results .teaser_icon img {
    float:left;
    margin-top:2px;
    margin-right:5px;
}

.tx-kesearch-pi1 #kesearch_results li {
    margin-bottom: 20px;
    list-style-type:none;
    list-style-position:inside;
    margin:0 0 20px 0;
}

.tx-kesearch-pi1 #kesearch_results li .hit {
    color: red;
    font-weight: bold;
}
.tx-kesearch-pi1 #kesearch_results li .add-info {
    font-size: 80%;
    background: #EEE;
}


/* Query time */
.tx-kesearch-pi1 #kesearch_query_time {
    font-style: italic;
    text-align: center;
    font-size: 80%;
}

/* Searchbox */
.tx-kesearch-pi1 .searchbox {
    margin-bottom: 5px;
}
.tx-kesearch-pi1 .searchbox input {
    margin-left: 0;
    width: 145px;
}

.tx-kesearch-pi1 .searchbox input.submit {
    width: 18px;
    height: 18px;
    border: none;
    background: none;
    vertical-align: middle;
}

.tx-kesearch-pi1 form.static .searchbox input.submit {
    margin-top: -16px;
}

.tx-kesearch-pi1 form.ajax .searchbox input.submit {
    margin-top: -4px;
}

.tx-kesearch-pi1 .searchbox .search_input {
    float:left;
    margin-right: 5px;
}


/* Filters */

.tx-kesearch-pi1 #kesearch_filters {
    margin-top: 10px;
}

.tx-kesearch-pi1 #kesearch_filters select {
    width: 100px;
}



.tx-kesearch-pi1 #kesearch_filters .list {
    margin-bottom: 10px;
}

.tx-kesearch-pi1 #kesearch_filters .list .head {
    background: url(img/list-head-bgrnd.gif);
    display:block;
    border: 1px solid #CFCFCF;
    padding: 5px;
}

.tx-kesearch-pi1 #kesearch_filters .list .head img {
    margin-right: 3px;
}

.tx-kesearch-pi1 #kesearch_filters .list ul {
    padding: 5px;
    border-style: solid;
    border-color: #CFCFCF;
    border-width: 0 1px 1px 1px;
    list-style-type:none;
    margin-top: 0;
}

.tx-kesearch-pi1 #kesearch_filters .list ul.expanded {
    display:block;
}
.tx-kesearch-pi1 #kesearch_filters .list ul.closed {
    display:none;
}

.tx-kesearch-pi1 #kesearch_filters .list li {
    line-height: 1.1em;
    padding-bottom: 4px;
}
.tx-kesearch-pi1 #kesearch_filters .list li:hover {
    cursor: pointer;
}

.tx-kesearch-pi1 #kesearch_filters .list li.selected {
    font-weight: bold;
    text-decoration: underline;
}


.tx-kesearch-pi1 #kesearch_filters .list li.parent0,
.tx-kesearch-pi1 #kesearch_filters .list li.level0 {
    margin-left: 14px;
}
.tx-kesearch-pi1 #kesearch_filters .list li.parent1,
.tx-kesearch-pi1 #kesearch_filters .list li.level1 {
    margin-left: 21px;
}
.tx-kesearch-pi1 #kesearch_filters .list li.parent2,
.tx-kesearch-pi1 #kesearch_filters .list li.level2 {
    margin-left: 28px;
}
.tx-kesearch-pi1 #kesearch_filters .list li.parent3,
.tx-kesearch-pi1 #kesearch_filters .list li.level3 {
    margin-left: 35px;
}
.tx-kesearch-pi1 #kesearch_filters .list li.parent0,
.tx-kesearch-pi1 #kesearch_filters .list li.parent1,
.tx-kesearch-pi1 #kesearch_filters .list li.parent2,
.tx-kesearch-pi1 #kesearch_filters .list li.parent3 {
    font-weight: bold;
    list-style-image: url(img/list-bullet-cat.gif);
    list-style-position: outside;
}

.tx-kesearch-pi1 #kesearch_filters .list li.optionCheckBox {
    float: left;
    margin: 2px 0;
    width: 200px;
}

.tx-kesearch-pi1 #kesearch_filters .list li.clearer {
    clear: left;
}

.tx-kesearch-pi1 #kesearch_filters .resetlink {
    cursor: pointer;
    border-top: 1px solid black;
    display:block;
    padding-top: 5px;
}


.tx-kesearch-pi1 #kesearch_filters .list li.region {
    font-weight: bold;
    margin-top: 5px;
}
.tx-kesearch-pi1 #kesearch_filters .list li.noclick {
    cursor: default !important;
}
.tx-kesearch-pi1 #kesearch_filters .list li.country {
    margin-left: 7px;
}

.tx-kesearch-pi1 .resetButton {
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #CFCFCF;
    background: url("img/list-head-bgrnd.gif") repeat scroll 0 0 transparent;
    padding: 5px;
    text-align: center;
}

.tx-kesearch-pi1 .resetButton:hover {
    text-decoration: underline;
}


/* SPECIAL CSS CLASS */
.tx-kesearch-pi1 #kesearch_filters .small {
    display:block;
    height: 65px;
    max-height: 65px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tx-kesearch-pi1 #kesearch_filters .larger {
    display:block;
    height: 130px;
    max-height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Spinner / updating */
.tx-kesearch-pi1 #kesearch_updating_filters,
.tx-kesearch-pi1 #kesearch_updating_results {
    display:none;
    margin: 20px 0 20px 0;
}

.tx-kesearch-pi1 #testbox {
    margin-top: 100px;
    /* margin-bottom: 50px; */
    border: 1px solid red;
}



/* General Message */
.tx-kesearch-pi1 .general-message {
    /* border: 2px dashed red; */
    padding: 5px;
}
.tx-kesearch-pi1 .general-message .image {
    float:left;
    vertical-align: middle;
    margin-right: 10px;
}
.tx-kesearch-pi1 .general-message .message {
    /* font-weight: bold; */
}



/*Pagebrowser*/
.tx-kesearch-pi1 #kesearch_pagebrowser_top,
.tx-kesearch-pi1 #kesearch_pagebrowser_bottom {
   clear:both;
   text-align: center;
   padding: 10px;
}
.tx-kesearch-pi1 #kesearch_pagebrowser_top .pages_total {
    border-bottom: 1px dashed #666;
    margin-bottom: 20px;
}
.tx-kesearch-pi1 #kesearch_pagebrowser_bottom .pages_total {
    border-top: 1px dashed #666;
}

.tx-kesearch-pi1 #kesearch_pagebrowser_top a,
.tx-kesearch-pi1 #kesearch_pagebrowser_bottom a {
    padding: 3px;
}

.tx-kesearch-pi1 #kesearch_pagebrowser_top a:hover,
.tx-kesearch-pi1 #kesearch_pagebrowser_bottom a:hover {
    cursor:pointer;
}

.tx-kesearch-pi1 #kesearch_pagebrowser_top a.current,
.tx-kesearch-pi1 #kesearch_pagebrowser_bottom  a.current {
   font-weight: bold;
   color:#000;
   text-decoration:none;
}

.tx-kesearch-pi1 #kesearch_pagebrowser_top .browser,
.tx-kesearch-pi1 #kesearch_pagebrowser_bottom .browser{
    border:1px solid;
}

.tx-kesearch-pi1 #kesearch_pagebrowser_top .pages_total,
.tx-kesearch-pi1 #kesearch_pagebrowser_bottom .pages_total{
    height:55px;
    padding-top:10px;
    background:none repeat scroll 0 0 #F5F6F6;
}

.tx-kesearch-pi1 #kesearch_pagebrowser_top table,
.tx-kesearch-pi1 #kesearch_pagebrowser_bottom table {
    margin: 0 auto 5px;
}

.tx-kesearch-pi1 .next, .tx-kesearch-pi1 .prev {
    display:inline-block;
    width:24px;
    height:29px;
    color:transparent;
    text-decoration:none;
}

.tx-kesearch-pi1 .next{background: transparent url('img/arrow-next.gif') no-repeat left 5px;}
.tx-kesearch-pi1 .prev{background: transparent url('img/arrow-prev.gif') no-repeat right 5px;}

/*Ordering*/
.tx-kesearch-pi1 #kesearch_ordering span.down {
	display: inline-block;
	width: 0;
	height: 0;
	border-color: #FF0000 transparent;
	border-style: solid solid none;
	border-width: 4px 4px 0;
}

.tx-kesearch-pi1 #kesearch_ordering span.up {
	display: inline-block;
	width: 0;
	height: 0;
	border-color: transparent transparent #FF0000;
	border-style: none solid solid;
	border-width: 0 4px 4px;
}

.tx-kesearch-pi1 #kesearch_ordering div.ordering {
	text-align: right;
}

.tx-kesearch-pi1 #kesearch_ordering ul {
	display: inline-block;
	height: 20px;
	list-style-type: none;
	margin: 0 0 10px;
	padding: 0;
}

.tx-kesearch-pi1 #kesearch_ordering ul li {
	float: left;
	margin-right: 10px;
}

.tx-kesearch-pi1 #kesearch_ordering div.clearer {
	clear: left;
}

.tx-kesearch-pi1 .multiselect .multi-option {
	float: left;
	height: 20px;
	padding-right: 15px;
	width: 200px;
}

.tx-kesearch-pi1 .multiselect .last {
	float: left;
	height: 20px;
	padding-right: 0;
	width: 200px;
}

.tx-kesearch-pi1 .multiselect label {
	display: inline-block;
	font-weight: normal;
	margin-left: 10px;
}

.tx-kesearch-pi1 .textlinks li.active {
	border-left: 5px solid #00FF00;
}